#root {
  width: 100%;
  height: 100vh;
}

/* centra el elemento main horizontalmente teniendo encuenta que div > main > el resto de la app */
main {
  margin: 0 auto;
  max-width: clamp(320px, 90%, 1920px);
}

.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  /* size 30 - 70 */
  width: 100%;
}

h1 {
  margin-bottom: 1rem;
}

/* add content a | as terminal interval */
h1::after {
  content: '|';
  /* show and hide the | */
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}