:root {
    --font-family: Cascadia Code, Consolas, monospace;
}

/* set font all */
* {
    font-family: var(--font-family) !important;
}

.program-loader {
    max-width: clamp(320px, 90%, 1920px);
}

input, textarea{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    width: 100%;
    display: block;
}

/* button full w, 2 rem h */
button {
    width: 100%;
    background-color: #fafafa;
    border: none;
    color: black;
    padding: 14px 20px;
    border-radius: 4px;
    cursor: pointer;
}

/* animate button on hover */
button:hover {
    background-color: #e8e8e8;
}

/* animate, button click */
button:active {
    background-color: #cccccc;
}

/* lock textarea horizontal size */
/* style as code */
textarea {
    font-size: 1rem;
    resize: vertical;
    text-transform: uppercase;
    color: #ff7777;
    /* min-height: 100px; */
    min-height: 8rem;
    height: 8rem;
    width: 100%;
}